{% extends 'base.html.twig' %}

{% block title %}Biblio{% endblock %}

{% block body %}
    {{ parent() }}

        <main class="width_80">
            <a class="add" href="/shelf/add">Ajouter une étagère</a>
            <div class="marg_30">
                {% for shelf in shelfs %}
                    <a href="/borrower-category/{{ shelf.id }}" class="shelf ">
                        <p>{{ shelf.name }}</p>
                    </a>
                    <div class="marg_30 flexRow">
                        <div class="marg_30_rl">
                            <a class="update" href="/shelf/update/{{ shelf.id }}"><i class="fa-solid fa-pen-to-square"></i> Modifier l'étagère</a>
                        </div>
                        <div class="marg_30_rl">
                            <a class="delete" href="/shelf/delete/{{ shelf.id }}"><i class="fa-solid fa-trash-can"></i> Supprimer l'étagère</a>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </main>

{% endblock %}
